.sect-edi{
  padding-top: 118px;
  text-align: center;
  h2{

    max-width: 758.89px;
    font-family: 'Montserrat', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #635C73;
    margin: auto;
  }
  p{
    padding-top: 35px;
    margin: auto;
    max-width: 861px;
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 152%;
    align-items: center;
    text-align: center;

  }
  img{
    padding-top: 13px;
    max-width: 365px;
    align-items: center;
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .sect-edi{
    h2{
      font-size: 7.03vw;
    }
    p{
      max-width: 689px;
    }
  }
}
@media screen and (max-width: 320px) {
  .sect-edi{
    h2{
      font-size: 9.88vw;
    }
    p{
max-width: 269px;
    }
  }
}
.click{
  display: flex;
  max-width: 251px;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 13px;
  margin-bottom:70px ;
  @media (min-width: 481px) {
    max-width: 365px;
  }


}

.click-button {
  display: flex;
  width: 115px;
  height: 26px;
  padding: 0;
  padding-right: 0;
  margin-top: 20px;

  align-items: center;
  border: 2px solid #dedede;
border-radius: 7px;
  cursor: pointer;
  text-align: center;



}

.click-link {
  width: 98px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;


}

#click-info {
  padding-top: 0;
  font-size: 10px;
  font-weight: bold;
  line-height: 23.5px;
  margin: 0 ;
  width: 45px;
  height: 24px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: white;
}

.sect-edi__text{ 
padding-bottom: 23px;
}