.section__people {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;

    background-image: url(/dist/img/people/testmonials-bg.png);
    background-size: cover;
    background-position: center center;
    background-position-y: 12px;
    background-repeat: no-repeat;
    text-align: center;





    &-title {
        margin: 0;
        padding-top: 57px;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;

        @media (min-width: 481px) {
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;
            padding-top: 76px;

        }

        @media (min-width: 993px) {
            font-size: 48px;
            line-height: 50px;
            padding-top: 100px;
        }
    }

    &-list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0;
        padding-top: 53px;
        margin: 0;
        align-self: center;
        align-items: baseline;
    }

    &-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 15px 45px 14px;
   

        &--text {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            text-align: center;
            max-width: 280px;
            margin: 0;
            padding-top: 34px;
            font-family: 'Lato', sans-serif;
            font-style: italic;
        }

    }
}

.text-wrapper{
    display: flex;
    justify-content: center;

    padding-top: 34px;
    padding-left: 34px;
    padding-right: 35px;


}

.section__people-footer--text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
    text-align: center;
    max-width: 251px;
    display: flex;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    height: 140px;
    padding-bottom: 15px;


    &::before {
        content: "";
        width: 245px;
        height: 2px;
        background: #645766;
        position: absolute;
        margin-top: 177px;
        left: auto;
        @media (min-width: 481px) {
            width: 70%;
            margin-top: 95px;
            left: 15%;

            

        }

    }


@media (min-width: 481px) {
    max-width: 704px;
}

@media (min-width: 993px) {
    max-width: 887px;
}


}

.br-320px {
    @media (min-width: 481px) {
        display: none;
    }
}